[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/autoclose"]
	path = vim/bundle/autoclose
	url = https://github.com/Townk/vim-autoclose
[submodule "vim/bundle/libl9"]
	path = vim/bundle/libl9
	url = https://github.com/vim-scripts/L9
[submodule "vim/bundle/bclose"]
	path = vim/bundle/bclose
	url = https://github.com/rbgrouleff/bclose.vim
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = http://github.com/ervandew/supertab
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive
[submodule "vim/bundle/zoomwin"]
  path = vim/bundle/zoomwin
	url = http://github.com/vim-scripts/ZoomWin
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
  url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/jshint"]
  path = vim/bundle/jshint
  url = https://github.com/sleistner/vim-jshint
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vim/bundle/autotag"]
	path = vim/bundle/autotag
	url = git://github.com/vim-scripts/AutoTag.git
[submodule "vim/bundle/addon-mwutil"]
	path = vim/bundle/addon-mwutil
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
