*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
*.swp
# Installer logs
pip-log.txt
tags

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
.cpt
# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.netrwhist
