[submodule "host_keys"]
	path = host_keys
  url = git@github.com:dottru/hostkeys.git
  ignore = dirty
[submodule "vim"]
	path = vim
	url = git@github.com:dottru/vim.git
[submodule "link/tmux-colors-solarized"]
	path = link/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "link/dircolors"]
	path = link/dircolors
	url = https://github.com/seebi/dircolors-solarized
