[submodule "link/tmux-colors-solarized"]
	path = link/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "link/dircolors"]
	path = link/dircolors
	url = https://github.com/seebi/dircolors-solarized
[submodule "vim"]
	path = vim
	url = https://github.com/dottru/vim.git
[submodule "link/irssi/nicklist"]
	path = link/irssi/nicklist
	url = https://github.com/ConX/nicklist.pl
